private/node red anemometer.txt
[{"id":"75afbae5.9f98f4","type":"mqtt in","z":"e1f8ec89.0acac","name":"anemometer.gr","topic":"anemo/01/data","qos":"1","broker":"56a9b680.095048","x":102,"y":37,"wires":[["5b182753.edb6b8"]]},{"id":"5b182753.edb6b8","type":"json","z":"e1f8ec89.0acac","name":"","pretty":false,"x":102,"y":129,"wires":[["c0118bd0.5afc38","45e7ff5f.ce6b6","f7d2af22.64575","e0a1a1f6.dfb58"]]},{"id":"c0118bd0.5afc38","type":"function","z":"e1f8ec89.0acac","name":"thingspeak2","func":"var speed = msg.payload.speed;\nvar lull = msg.payload.lull;\nvar gust = msg.payload.gust;\nvar dir = msg.payload.dir;\nmsg.url = \"http://api.thingspeak.com/update?key=IQCZO3WXCK75E2HK&field1=\"+speed+\"&field2=\" + gust + \"&field3=\" + lull + \"&field4=\" + dir;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":132,"wires":[["84fb2782.844938"]]},{"id":"84fb2782.844938","type":"http request","z":"e1f8ec89.0acac","name":"anemometer","method":"GET","ret":"txt","url":"","tls":"","x":598,"y":132,"wires":[[]]},{"id":"45e7ff5f.ce6b6","type":"function","z":"e1f8ec89.0acac","name":"To Anemometer.gr","func":"var speed = msg.payload.speed;\nvar lull = msg.payload.lull;\nvar gust = msg.payload.gust;\nvar dir = msg.payload.dir;\nmsg.url = \"http://www.anemometer.gr/post.php?id=2&psw=1234&&windspeed=\" + speed + \"&windgust=\" + gust + \"&winddir=\" + dir + \"&windlull=\" + lull;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":235,"wires":[["b4f7c282.c4217"]]},{"id":"b4f7c282.c4217","type":"http request","z":"e1f8ec89.0acac","name":"anemometer.gr","method":"GET","ret":"txt","url":"","tls":"","x":601,"y":231,"wires":[["87727d46.cbbb1"]]},{"id":"87727d46.cbbb1","type":"debug","z":"e1f8ec89.0acac","name":"","active":true,"console":"false","complete":"false","x":602,"y":326,"wires":[]},{"id":"f7d2af22.64575","type":"debug","z":"e1f8ec89.0acac","name":"","active":true,"console":"false","complete":"false","x":328,"y":52,"wires":[]},{"id":"e0a1a1f6.dfb58","type":"function","z":"e1f8ec89.0acac","name":"wunderground","func":"var windspeed = msg.payload.speed * 1.15078;\nvar windlull = msg.payload.lull * 1.15078;\nvar windgust = msg.payload.gust * 1.15078;\nvar winddir = msg.payload.dir;\nmsg.url = \"http://weatherstation.wunderground.com/weatherstation/updateweatherstation.php?ID=IGAZI7&PASSWORD=08yqj75x&dateutc=now&winddir=\" + winddir + \"&windspeedmph=\" + windspeed + \"&windgustmph=\" + windgust + \"&action=updateraw\";\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":406,"wires":[["a40d5903.af8578"]]},{"id":"a40d5903.af8578","type":"http request","z":"e1f8ec89.0acac","name":"wunderground","method":"GET","ret":"txt","url":"","tls":"","x":578,"y":407,"wires":[["d9f49643.bb3308"]]},{"id":"d9f49643.bb3308","type":"debug","z":"e1f8ec89.0acac","name":"","active":true,"console":"false","complete":"false","x":576,"y":483,"wires":[]},{"id":"56a9b680.095048","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]

new version on cloudmqtt:

[{"id":"5863533c.024bdc","type":"tab","label":"Anemometer.gr","disabled":false,"info":""},{"id":"72c24dd1.7f38c4","type":"mqtt in","z":"5863533c.024bdc","name":"anemometer.gr","topic":"anemo/01/data","qos":"1","broker":"cfcb8a8d.28cd18","x":100,"y":40,"wires":[["65dc4e2d.bdb5e"]]},{"id":"65dc4e2d.bdb5e","type":"json","z":"5863533c.024bdc","name":"","pretty":false,"x":100,"y":132,"wires":[["5d83c75.b9f4438","a4ab0f3b.17bbf","17bb4120.db0f6f","e2265eef.7cd5e"]]},{"id":"5d83c75.b9f4438","type":"function","z":"5863533c.024bdc","name":"thingspeak2","func":"var speed = msg.payload.speed;\nvar lull = msg.payload.lull;\nvar gust = msg.payload.gust;\nvar dir = msg.payload.dir;\nmsg.url = \"http://api.thingspeak.com/update?key=IQCZO3WXCK75E2HK&field1=\"+speed+\"&field2=\" + gust + \"&field3=\" + lull + \"&field4=\" + dir;\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":135,"wires":[["13a0cf39.2f7491"]]},{"id":"13a0cf39.2f7491","type":"http request","z":"5863533c.024bdc","name":"anemometer","method":"GET","ret":"txt","url":"","tls":"","x":596,"y":135,"wires":[[]]},{"id":"a4ab0f3b.17bbf","type":"function","z":"5863533c.024bdc","name":"To Anemometer.gr","func":"var speed = msg.payload.speed;\nvar lull = msg.payload.lull;\nvar gust = msg.payload.gust;\nvar dir = msg.payload.dir;\nmsg.url = \"http://www.anemometer.gr/post.php?id=2&psw=1234&&windspeed=\" + speed + \"&windgust=\" + gust + \"&winddir=\" + dir + \"&windlull=\" + lull;\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":238,"wires":[["862b163d.12dc98"]]},{"id":"862b163d.12dc98","type":"http request","z":"5863533c.024bdc","name":"anemometer.gr","method":"GET","ret":"txt","url":"","tls":"","x":599,"y":234,"wires":[["de505ad.094afa8"]]},{"id":"de505ad.094afa8","type":"debug","z":"5863533c.024bdc","name":"","active":true,"console":"false","complete":"false","x":600,"y":329,"wires":[]},{"id":"17bb4120.db0f6f","type":"debug","z":"5863533c.024bdc","name":"","active":true,"console":"false","complete":"false","x":326,"y":55,"wires":[]},{"id":"e2265eef.7cd5e","type":"function","z":"5863533c.024bdc","name":"wunderground","func":"var windspeed = msg.payload.speed * 1.15078;\nvar windlull = msg.payload.lull * 1.15078;\nvar windgust = msg.payload.gust * 1.15078;\nvar winddir = msg.payload.dir;\nmsg.url = \"http://weatherstation.wunderground.com/weatherstation/updateweatherstation.php?ID=IGAZI7&PASSWORD=08yqj75x&dateutc=now&winddir=\" + winddir + \"&windspeedmph=\" + windspeed + \"&windgustmph=\" + windgust + \"&action=updateraw\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":409,"wires":[["9c7ca5ee.382eb8"]]},{"id":"9c7ca5ee.382eb8","type":"http request","z":"5863533c.024bdc","name":"wunderground","method":"GET","ret":"txt","url":"","tls":"","x":576,"y":410,"wires":[["964654bd.3fe588"]]},{"id":"964654bd.3fe588","type":"debug","z":"5863533c.024bdc","name":"","active":true,"console":"false","complete":"false","x":574,"y":486,"wires":[]},{"id":"cfcb8a8d.28cd18","type":"mqtt-broker","z":"","name":"cloudMQTT","broker":"m23.cloudmqtt.com","port":"11622","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]